<div class="container">
	<div class="row registerSection">
		<div class="container">
			<div class="title2">
				Your profile is ready to serve your resume
			</div>
		</div>
		<div class="row">
			<form class="col s12" style="margin-top: 30px;" action="/Login" method="POST">
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" name="email" value="{{user.email}}" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s11">
						<input type="password" name="password" class="validate" value="{{user.password}}"
							id="myInput">
						<label for="password">Password</label>
					</div>
					<div class="col s1 center">
						<p>
							<label>
								<input type="checkbox" onclick="showPassword()" />
								<span></span>
							</label>
						</p>
					</div>
				</div>
				{{#if hasErrors}}
				<p class="red-text center" style="text-transform: capitalize;">
					{{#each messages}}
					Ops {{this}}
					{{/each}}
				</p>
				{{/if}}
				<div class="right">
					<input type="submit" class="btn" value="Update Profile">
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function showPassword() {
		var x = document.getElementById("myInput");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
	}
</script>