<div class="container">
	<div class="row registerSection">
		<div class="row">
			<div class="title2">
				Update Your Profile
			</div>
			{{#if hasErrors}}
			<p class="red-text center" style="text-transform: capitalize;">
				{{#each messages}}
				Ops {{this}}
				{{/each}}
			</p>
			{{/if}}
			<form class="col s12" style="margin-top: 30px;" action="/#updateProfile" method="POST">
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" value="{{user.email}}" name="email" class="validate">
						<label for="email">Email</label>
						<small>Enter your official mail id for confirmation</small>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s11">
						<input type="password" name="password" value="{{user.password}}" class="validate"
							id="myInput">
						<label for="password">Password</label>
						<small>Create Strong Password for your security</small>
					</div>
					<div class="col s1 center">
						<p>
							<label>
								<input type="checkbox" onclick="showPassword()" />
								<span></span>
							</label>
						</p>
					</div>
				</div>
				<div class="right">
					<input type="submit" class="btn grey" value="Update Profile">
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function showPassword() {
		var x = document.getElementById("myInput");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
	}
</script>