<div class="container">
	<div class="row registerSection">
		<div class="row">
			<div class="title2">
				Hey we know time is important for you, recruiter register
			</div>
			<div style="font-size: 1.1em; text-align: center;">
				<p>
					<span class="green-text" style="font-weight: 700;">
						Create account in less than 30 sec.
					</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Aliquam rem vitae saepe dignissimos repellat incidunt.
				</p>
			</div>
			{{#if hasErrors}}
			<p class="red-text center" style="text-transform: capitalize;">
				{{#each messages}}
				Ops {{this}}
				{{/each}}
			</p>
			{{/if}}
			<form class="col s12" style="margin-top: 30px;" action="/newRecruiter" method="POST">
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" name="email" class="validate">
						<label for="email">Email</label>
						<small>Enter your official mail id for confirmation</small>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s11">
						<input type="password" name="password" class="validate" id="myInput">
						<label for="password">Password</label>
						<small>Create Strong Password for your security</small>
					</div>
					<div class="col s1 center">
						<p>
							<label>
								<input type="checkbox" onclick="showPassword()" />
								<span></span>
							</label>
						</p>
					</div>
				</div>
				<div class="right">
					<input type="submit" class="btn green" value="Create Account">
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function showPassword() {
		var x = document.getElementById("myInput");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
	}
</script>