{{#if length}}
{{#each jobs}}
Applied By : {{this.fullname}}
<a href="{{this.resume}}" target="_blank">View Resume</a>
{{/each}}
{{else}}
<div class="container-fluid" style="background: whitesmoke; padding: 20px;">
	<div class="center container">
		<h3>
			No candidate is appying here for your company till now
		</h3>
	</div>
</div>
{{/if}}